
.ts-icon-ai:before { content: '\e800'; } /* '' */
.ts-icon-article:before { content: '\e801'; } /* '' */
.ts-icon-blog-post:before { content: '\e802'; } /* '' */
.ts-icon-book-open:before { content: '\e803'; } /* '' */
.ts-icon-collapse:before { content: '\e804'; } /* '' */
.ts-icon-clock-reset:before { content: '\e805'; } /* '' */
.ts-icon-flash:before { content: '\e806'; } /* '' */
.ts-icon-coin-stack:before { content: '\e807'; } /* '' */
.ts-icon-flash-cash:before { content: '\e808'; } /* '' */
.ts-icon-compass:before { content: '\e809'; } /* '' */
.ts-icon-envelope-alt:before { content: '\e80a'; } /* '' */
.ts-icon-envelope:before { content: '\e80b'; } /* '' */
.ts-icon-date:before { content: '\e80c'; } /* '' */
.ts-icon-chats:before { content: '\e80d'; } /* '' */
.ts-icon-book-closed:before { content: '\e80e'; } /* '' */
.ts-icon-cash-bill:before { content: '\e80f'; } /* '' */
.ts-icon-discord:before { content: '\e810'; } /* '' */
.ts-icon-columns:before { content: '\e811'; } /* '' */
.ts-icon-intersect:before { content: '\e812'; } /* '' */
.ts-icon-lock:before { content: '\e813'; } /* '' */
.ts-icon-meter:before { content: '\e814'; } /* '' */
.ts-icon-calander-30:before { content: '\e815'; } /* '' */
.ts-icon-medal:before { content: '\e816'; } /* '' */
.ts-icon-key:before { content: '\e817'; } /* '' */
.ts-icon-office:before { content: '\e818'; } /* '' */
.ts-icon-heart:before { content: '\e819'; } /* '' */
.ts-icon-flash-box:before { content: '\e81a'; } /* '' */
.ts-icon-numero-2:before { content: '\e81b'; } /* '' */
.ts-icon-cash-shield:before { content: '\e81c'; } /* '' */
.ts-icon-happy-chat:before { content: '\e81d'; } /* '' */
.ts-icon-reset:before { content: '\e81e'; } /* '' */
.ts-icon-flash-forward:before { content: '\e81f'; } /* '' */
.ts-icon-question-chat:before { content: '\e820'; } /* '' */
.ts-icon-question:before { content: '\e821'; } /* '' */
.ts-icon-profile:before { content: '\e822'; } /* '' */
.ts-icon-target:before { content: '\e823'; } /* '' */
.ts-icon-calander-1:before { content: '\e824'; } /* '' */
.ts-icon-glass-cash:before { content: '\e825'; } /* '' */
.ts-icon-reversal:before { content: '\e826'; } /* '' */
.ts-icon-expand:before { content: '\e827'; } /* '' */
.ts-icon-meter-alt:before { content: '\e828'; } /* '' */
.ts-icon-numero-3:before { content: '\e829'; } /* '' */
.ts-icon-numero-4:before { content: '\e82a'; } /* '' */
.ts-icon-numero-1:before { content: '\e82b'; } /* '' */
.ts-icon-recycle:before { content: '\e82c'; } /* '' */
.ts-icon-phone:before { content: '\e82d'; } /* '' */
.ts-icon-trnd-line:before { content: '\e82e'; } /* '' */
.ts-icon-youtube:before { content: '\e82f'; } /* '' */
.ts-icon-speedometer:before { content: '\e830'; } /* '' */
.ts-icon-stopwatch:before { content: '\e831'; } /* '' */
.ts-icon-x:before { content: '\e832'; } /* '' */
.ts-icon-trend-box:before { content: '\e833'; } /* '' */
.ts-icon-ai_sm:before { content: '\e834'; } /* '' */
.ts-icon-article_sm:before { content: '\e835'; } /* '' */
.ts-icon-bank_sm:before { content: '\e836'; } /* '' */
.ts-icon-bank-alt_sm:before { content: '\e837'; } /* '' */
.ts-icon-book-open_sm:before { content: '\e838'; } /* '' */
.ts-icon-calander_sm:before { content: '\e839'; } /* '' */
.ts-icon-coin_sm:before { content: '\e83a'; } /* '' */
.ts-icon-chats_sm:before { content: '\e83b'; } /* '' */
.ts-icon-comments-alt_sm:before { content: '\e83c'; } /* '' */
.ts-icon-cycle_sm:before { content: '\e83d'; } /* '' */
.ts-icon-cash-shield_sm:before { content: '\e83e'; } /* '' */
.ts-icon-blog-post_sm:before { content: '\e83f'; } /* '' */
.ts-icon-coin-stack_sm:before { content: '\e840'; } /* '' */
.ts-icon-discord_sm:before { content: '\e841'; } /* '' */
.ts-icon-columns_sm:before { content: '\e842'; } /* '' */
.ts-icon-envelope_sm:before { content: '\e843'; } /* '' */
.ts-icon-book-closed_sm:before { content: '\e844'; } /* '' */
.ts-icon-collapse_sm:before { content: '\e845'; } /* '' */
.ts-icon-cash-bill_sm:before { content: '\e846'; } /* '' */
.ts-icon-flash_sm:before { content: '\e847'; } /* '' */
.ts-icon-compass_sm:before { content: '\e848'; } /* '' */
.ts-icon-question_sm:before { content: '\e849'; } /* '' */
.ts-icon-key_sm:before { content: '\e84a'; } /* '' */
.ts-icon-happy-chat_sm:before { content: '\e84b'; } /* '' */
.ts-icon-lock_sm:before { content: '\e84c'; } /* '' */
.ts-icon-intersect_sm:before { content: '\e84d'; } /* '' */
.ts-icon-heart_sm:before { content: '\e84e'; } /* '' */
.ts-icon-flash-box_sm:before { content: '\e84f'; } /* '' */
.ts-icon-envelope-alt_sm:before { content: '\e850'; } /* '' */
.ts-icon-flash-forward_sm:before { content: '\e851'; } /* '' */
.ts-icon-meter_sm:before { content: '\e852'; } /* '' */
.ts-icon-expand_sm:before { content: '\e853'; } /* '' */
.ts-icon-reversal_sm:before { content: '\e854'; } /* '' */
.ts-icon-medal_sm:before { content: '\e855'; } /* '' */
.ts-icon-office_sm:before { content: '\e856'; } /* '' */
.ts-icon-calander-1_sm:before { content: '\e857'; } /* '' */
.ts-icon-cash_sm:before { content: '\e858'; } /* '' */
.ts-icon-phone_sm:before { content: '\e859'; } /* '' */
.ts-icon-date_sm:before { content: '\e85a'; } /* '' */
.ts-icon-speedometer_sm:before { content: '\e85b'; } /* '' */
.ts-icon-stopwatch_sm:before { content: '\e85c'; } /* '' */
.ts-icon-meter-alt_sm:before { content: '\e85d'; } /* '' */
.ts-icon-rewind_sm:before { content: '\e85e'; } /* '' */
.ts-icon-trendline_sm:before { content: '\e85f'; } /* '' */
.ts-icon-profile_sm:before { content: '\e860'; } /* '' */
.ts-icon-x_sm:before { content: '\e861'; } /* '' */
.ts-icon-target_sm:before { content: '\e862'; } /* '' */
.ts-icon-youtube_sm:before { content: '\e863'; } /* '' */
.ts-icon-question-chat_sm:before { content: '\e864'; } /* '' */
.ts-icon-trend-chart_sm:before { content: '\e865'; } /* '' */
